NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GITHUB_ID=
GITHUB_SECRET=

DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres

NEXT_PUBLIC_FLAGS_ENV_KEY=flags_pub_development_
NEXT_PUBLIC_ANALYTICS_ENV_KEY=analytics_pub_